#sort-container {
  width: 100vw;
  height: 100vh;
}

#visual-container {
  display: flex;
  align-items: flex-end;
  width: 95%;
  height: 90%;
  margin: 0 2.5% 0 2.5%;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  height: 10%;
  gap: 1%;
  margin: 0 2.5% 0 2.5%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

button {
  height: 40%;
  width: auto;
}